.footer {
  margin-top: 90px;
  background-color: #d02c55;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    &--exans {
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
}
